---
import AstroSVG from '../assets/astro/astro-cover.png'
import TailwindSVG from '../assets/svg/undraw/undraw_tailwind_css.svg'
import HTMLSVG from '../assets/svg/undraw/undraw_static_assets.svg'

const callouts = [
    {
        name: 'Master Inventory - Theme Swap',
        description: 'Theme Swap function',
        imageSrc: 'https://img.youtube.com/vi/F4Vg33ro8pU/maxresdefault.jpg',
        imageAlt: 'Astro logo',
        href: 'https://www.youtube.com/watch?v=F4Vg33ro8pU'
    },
    {
        name: 'Master Inventory - Attribute system',
        description:
            'Attribute system for Master Inventory',
        imageSrc: 'https://img.youtube.com/vi/eNHuHR0dG0c/maxresdefault.jpg',
        imageAlt: 'TailwindCSS drawing',
        href: 'https://www.youtube.com/watch?v=eNHuHR0dG0c'
    },
    {
        name: 'Master Inventory - Talent system',
        description: 'Talent system for Master Inventory',
        imageSrc: 'https://img.youtube.com/vi/GsixQA2m5Yw/maxresdefault.jpg',
        imageAlt: 'Core Web',
        href: 'https://www.youtube.com/watch?v=GsixQA2m5Yw&t=582s'
    }
]
---

<div class="bg-purple-100 dark:bg-purple-900">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
            <h2 class="text-4xl font-extrabold text-purple-800 dark:text-purple-100">
                Lasted Tutorials
            </h2>
            <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                {
                    callouts.map((callout) => (
                        <div class="group relative">
                            <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 dark:bg-purple-600 sm:h-64">
                                <img
                                    src={callout.imageSrc}
                                    alt={callout.imageAlt}
                                    class="h-full w-full object-contain object-center"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="mt-6 text-2xl text-purple-500 dark:text-purple-300">
                                <a href={callout.href}>
                                    <span class="absolute inset-0" />
                                    {callout.name}
                                </a>
                            </h3>
                            <p class="text-base text-gray-900 dark:text-gray-100">
                                {callout.description}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</div>
